In [58]:
library(tidyverse)
library(dplyr)

In [59]:
players <- read_csv("Untitled Folder/players.csv")
sessions <- read_csv("Untitled Folder/sessions.csv")
head(players)
head(sessions)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

(1) Data Description:
Provide a full descriptive summary of the dataset, including information such as the number of observations, summary statistics (report values to 2 decimal places), number of variables, name and type of variables, what the variables mean, any issues you see in the data, any other potential issues related to things you cannot directly see, how the data were collected, etc. Make sure to use bullet point lists or tables to summarize the variables in an easy-to-understand format.

Note that the selected dataset(s) will probably contain more variables than you need. In fact, exploring how the different variables in the dataset affect your model may be a crucial part of the project. You need to summarize the full data regardless of which variables you may choose to use later on.

Players Data:

In [65]:
# --------------------------------------- PLAYERS DATA ------------------------------------------------

# Quantitative Summary Statitstics
players_summary_quantitative <- players |>
summarise(avg_played_hours = mean(played_hours, na.rm = TRUE), 
          avg_age = mean(Age, na.rm = TRUE),
          min_played_hours = min(played_hours, na.rm = TRUE),
          max_played_hours = max(played_hours, na.rm = TRUE),
          min_age = min(Age, na.rm = TRUE),
        max_age = max(Age, na.rm = TRUE)) |>
round(2)
players_summary_quantitative

# Qualitative Summary Statistics
Total <- nrow(players)

count(players, experience) |>
mutate(percentage = round(n/Total*100, 2))

count(players, subscribe) |>
mutate(percentage = round(n/Total*100, 2)) 

count(players, gender) |>
mutate(percentage = round(n/Total*100, 2))
# ----------------------------------------------- SESSSIONS DATA ------------------------------------------

# Quantitaive Summary Statistics
sessions_summary_quantitative <- sessions |>
summarise(avg_original_start_time = mean(original_start_time, na.rm = TRUE),
          avg_original_end_time = mean(original_end_time, na.rm = TRUE),
           min_original_start_time = min(original_start_time, na.rm = TRUE),
          max_original_start_time = max(original_start_time, na.rm = TRUE),
           min_original_end_time = min(original_end_time, na.rm = TRUE),
          max_original_end_time = max(original_end_time, na.rm = TRUE)) |>
round(2)
sessions_summary_quantitative

# Qualitative Summary Statistics
# Total_2 <- nrow(sessions)

# count(sessions, start_time) |>
# mutate(percentage = (n/Total_2)*100)

# count(sessions, end_time) |>
# mutate(percentage = (n/Total_2)*100)

  avg_played_hours avg_age min_played_hours max_played_hours min_age max_age
1 5.85             21.14   0                223.1            9       58

  experience n  percentage
1 Amateur    63 32.14
2 Beginner   35 17.86
3 Pro        14  7.14
4 Regular    36 18.37
5 Veteran    48 24.49

  subscribe n   percentage
1 FALSE      52 26.53
2  TRUE     144 73.47

  gender            n   percentage
1 Agender             2  1.02
2 Female             37 18.88
3 Male              124 63.27
4 Non-binary         15  7.65
5 Other               1  0.51
6 Prefer not to say  11  5.61
7 Two-Spirited        6  3.06

  avg_original_start_time avg_original_end_time min_original_start_time
1 1.719201e+12            1.719196e+12          1.7124e+12
  max_original_start_time min_original_end_time max_original_end_time
1 1.72733e+12             1.7124e+12            1.72734e+12

Qualitative Players Data:

| Variable   | Avg   | Min |  Max  |
|------------|-------|-----|-------|
|Hours Played| 5.85  | 0   | 223.1 |
|Age         | 21.14 | 9   | 58    |



Qualitative Sessions Data:

| Variable           | Avg      | Min      | Max      |
|--------------------|----------|----------|----------|
|Original Start Time | 1.72e+12 | 1.71e+12 | 1.73e+12 |
|Original End Time   | 1.72e+12 | 1.71e+12 | 1.73e+12 |